.header-toolbar {
    --background: var(--ion-color-primary);
}

.content {
    --background: var(--ion-color-primary);
}

.footer {
    background-color:  var(--ion-color-primary);
    height: 15em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#featured-note-title {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    color: var(--ion-color-secondary);
    font-family: Open_Sans;
    font-size: 2em;
}

.secondary-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    height: 100%;
}

#featured-note-text {
    color: var(--ion-color-secondary);
    font-family: Montserrat;
    font-size: 1em;
}
#featured-note-date-text {
    color: var(--ion-color-secondary);
    font-family: Montserrat;
    font-style: italic;
    font-size: 1em;
}