@font-face {   
    font-family: 'Open_Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {   
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}