#GNlogoIcon {
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    color: var(--ion-color-light);
}

.content {
    --background: var(--ion-color-primary);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Open_Sans;
    font-size: 8em;
    color: var(--ion-color-light);
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    color: var(--ion-color-light);
}

.my-button {
    background-color: var(--ion-color-secondary); 
    border-radius: 29px; 
    border: 1px solid var(--ion-color-secondary); 
    color: var(--ion-color-light); 
    font-size: 15px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
    margin: 1em;
}
    
.my-button:hover { 
    background-color: var(--ion-color-light); 
    color: var(--ion-color-secondary); 
    border-color: var(--ion-color-secondary); 
    transition: 0.3s; 
}