ion-range::part(tick) {
    background: #000;
    height: 10px;
    content: attr(data-value);
  }
  
  ion-range::part(tick-active) {
    background: #000;
    height: 10px;
  }
  
  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #ffafcc;
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 35px;
    height: 35px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(pin)::before {
    content: none;
  }
  
  ion-range::part(knob) {
    background: #ffc8dd;
  }
  
  ion-range::part(bar) {
    background: #a2d2ff;
    height: 5px;
  }
  
  ion-range::part(bar-active) {
    background: #bde0fe;
    height: px;
  }